## Java

*.class
*.war
*.ear
hs_err_pid*

## Robovm
/RingWorld/ios/robovm-build/

## GWT
/RingWorld/html/war/
/RingWorld/html/gwt-unitCache/
.apt_generated/
.gwt/
gwt-unitCache/
www-test/
.gwt-tmp/

## Android Studio and Intellij and Android in general
/RingWorld/android/libs/armeabi/
/RingWorld/android/libs/armeabi-v7a/
/RingWorld/android/libs/arm64-v8a/
/RingWorld/android/libs/x86/
/RingWorld/android/libs/x86_64/
/RingWorld/android/gen/
.idea/
*.ipr
*.iws
*.iml
/RingWorld/android/out/
com_crashlytics_export_strings.xml

## Eclipse

.classpath
.project
.metadata/
/RingWorld/android/bin/
/RingWorld/core/bin/
/RingWorld/desktop/bin/
/RingWorld/html/bin/
/RingWorld/ios/bin/
/RingWorld/ios-moe/bin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans

/RingWorld/nbproject/private/
/RingWorld/android/nbproject/private/
/RingWorld/core/nbproject/private/
/RingWorld/desktop/nbproject/private/
/RingWorld/html/nbproject/private/
/RingWorld/ios/nbproject/private/
/RingWorld/ios-moe/nbproject/private/

/RingWorld/build/
/RingWorld/android/build/
/RingWorld/core/build/
/RingWorld/desktop/build/
/RingWorld/html/build/
/RingWorld/ios/build/
/RingWorld/ios-moe/build/

/RingWorld/nbbuild/
/RingWorld/android/nbbuild/
/RingWorld/core/nbbuild/
/RingWorld/desktop/nbbuild/
/RingWorld/html/nbbuild/
/RingWorld/ios/nbbuild/
/RingWorld/ios-moe/nbbuild/

/RingWorld/dist/
/RingWorld/android/dist/
/RingWorld/core/dist/
/RingWorld/desktop/dist/
/RingWorld/html/dist/
/RingWorld/ios/dist/
/RingWorld/ios-moe/dist/

/RingWorld/nbdist/
/RingWorld/android/nbdist/
/RingWorld/core/nbdist/
/RingWorld/desktop/nbdist/
/RingWorld/html/nbdist/
/RingWorld/ios/nbdist/
/RingWorld/ios-moe/nbdist/

nbactions.xml
nb-configuration.xml

## Gradle

/local.properties
.gradle/
gradle-app.setting
/RingWorld/build/
/RingWorld/android/build/
/RingWorld/core/build/
/RingWorld/desktop/build/
/RingWorld/html/build/
/RingWorld/ios/build/
/RingWorld/ios-moe/build/

## OS Specific
.DS_Store
Thumbs.db
